*{
    margin: none;
    padding: none;
}

body{
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-card{
height: 500px;
width: 250px;
border: black;
background-color: blanchedalmond;
border-radius: 10px;
background-color:  rgba(0, 0, 0, 0.088);
display: flex;
justify-content: center;
align-items: center;
}

#primary-card{
height: 480px;
width: 230px;
border: black;
background-color: blanchedalmond;
border-radius: 10px;
background-color:  hsl(216, 50%, 16%);
display: block;
}

.img-size {
    width: 200px;
    height: auto;
}